@media only screen and (min-width: 1500px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1472px;
	}
}
/* X-Large devices (large desktops, 1200px to 1400px) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	.main_content_wrap .filter_area {
		max-width: 300px;
		margin-right: 40px;
	}
	.main_content_wrap .content_area {
		width: calc(100% - 340px);
	}
	.single_people .people_image {
		max-width: 340px;
		margin-right: 25px;
	}
	.single_people .people_content {
		width: calc(100% - 365px);
	}
	.people_content .buttons .btn.collection span {
		display: none;
	}
}

/* Large devices (desktops, 992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header_search {
		max-width: 400px;
	}
	.main_content_wrap .filter_area {
		max-width: 250px;
		margin-right: 30px;
	}
	.main_content_wrap .content_area {
		width: calc(100% - 280px);
	}
	.single_people .people_image {
		max-width: 250px;
		margin-right: 25px;
	}
	.single_people .people_content {
		width: calc(100% - 275px);
	}
	.people_content .buttons .btn.collection span {
		display: none;
	}
}

/* Medium devices (tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site_logo {
		margin-right: 15px;
	}
	.header_search {
		max-width: 270px;
	}
	.header_search input[type="search"],
	.header_search input[type="search"]::placeholder {
		font-size: 13px;
		line-height: 18px;
	}
	.header_search input[type="search"] {
		padding: 0 0 0 27px;
		border: none;
	}
	.header_search button[type="submit"] {
		left: 0;
	}
	.header_right .btn:not(:last-child) {
		margin-right: 8px;
	}
	.page_heading_title h1 {
		font-size: 40px;
		line-height: 112%;
		letter-spacing: -0.01em;
	}
	.main_content_wrap .content_area {
		width: 100%;
	}
	.single_people .people_image {
		max-width: 300px;
		margin-right: 25px;
	}
	.single_people .people_content {
		width: calc(100% - 325px);
	}
	.people_content .buttons .btn.collection span {
		display: none;
	}
	.content_pagination .page_arrow {
		background-color: #ededed;
		padding: 12px 38px 12px 35px;
		height: 44px;
		width: 94px;
		border-radius: 60px;
	}
	.cta_wrapper {
		max-width: 285px;
		justify-content: center;
		margin: auto;
	}
	.cta_wrapper .cta_content {
		text-align: center;
		margin-bottom: 24px;
	}
	.cta_wrapper .cta_button a,
	.cta_wrapper .cta_button {
		width: 100%;
	}
	.cta_wrapper .cta_button a span {
		display: none;
	}
	.footer_top .footer_content {
		max-width: 100%;
	}
	.footer_top .footer_menu_boxes {
		width: 100%;
		justify-content: start;
	}
	.footer_top {
		padding-bottom: 120px;
	}
	.footer_middle .footer_privacy_menu ul li:not(:last-child) {
		margin-right: 25px;
	}
}

/* X-Small devices (small mobile) (portrait phones, less than 767px) */
@media only screen and (max-width: 767px) {
	.row > * {
		padding-right: 10px;
		padding-left: 10px;
	}
	.site_logo {
		margin-right: 20px;
	}
	.site_logo a {
		max-width: 46px;
	}
	.header_search {
		max-width: 270px;
	}
	.header_search input[type="search"],
	.header_search input[type="search"]::placeholder {
		font-size: 13px;
		line-height: 18px;
	}
	.header_search input[type="search"] {
		padding: 0 0 0 27px;
		border: none;
	}
	.header_search button[type="submit"] {
		left: 0;
	}
	.mobile_menu_bar a {
		display: inline-block;
		max-width: 14px;
	}
	.mobile_menu_bar {
		margin-left: auto;
	}
	.page-header {
		padding: 40px 0 24px;
	}
	.page_heading_title h1 {
		font-size: 32px;
		line-height: 112%;
		letter-spacing: -0.01em;
	}
	.content_heading {
		padding-bottom: 15px;
	}
	.content_heading .filter_icon a {
		display: inline-block;
		width: 14px;
	}
	.content_heading .search_by {
		max-width: 330px;
	}
	.content_heading .filter_icon {
		margin-left: auto;
	}
	.content_heading .search_by input[type="search"],
	.content_heading .search_by input[type="search"]::placeholder {
		font-size: 16px;
	}
	.tab-content .peoples {
		margin-top: 14px;
	}
	.main_content_wrap .content_area {
		width: 100%;
	}
	.single_people {
		padding-bottom: 0;
		margin-bottom: 32px;
	}
	.single_people .people_image {
		max-width: 100%;
		margin-right: 0px;
	}
	.single_people .people_content {
		width: 100%;
		padding: 16px 0;
		align-items: start;
	}
	.people_content .people_name .name {
		font-size: 20px;
		line-height: 26px;
		font-weight: 500;
	}
	.people_content .people_name span.profession {
		margin-bottom: 16px;
	}
	.people_content .buttons .btn#profile {
		display: none;
	}
	.people_content .buttons .btn.collection span {
		display: none;
	}
	.content_pagination .page_arrow {
		background-color: #ededed;
		padding: 12px 38px 12px 35px;
		height: 44px;
		width: 94px;
		border-radius: 60px;
	}
	.content_pagination .show_page span {
		font-size: 16px;
	}
	.cta-section {
		margin-top: 20px;
		padding: 32px 0;
	}
	.cta_wrapper {
		max-width: 285px;
		justify-content: center;
		margin: auto;
	}
	.cta_wrapper .cta_content {
		text-align: center;
		margin-bottom: 24px;
	}
	.cta_wrapper .cta_button a,
	.cta_wrapper .cta_button {
		width: 100%;
	}
	.cta_wrapper .cta_button a span {
		display: none;
	}
	.site-footer {
		padding-top: 16px;
	}
	.site-footer .row > * {
		padding-left: 16px;
		padding-right: 16px;
	}
	.footer_top .footer_content {
		max-width: 100%;
	}
	.footer_top .footer_menu_boxes {
		width: 100%;
		justify-content: start;
	}
	.footer_top .footer_menu_boxes .single_menu_box {
		max-width: 160px;
	}
	.footer_top .footer_menu_boxes .single_menu_box:not(:last-child) {
		margin-right: 0px;
	}
	.footer_top {
		padding-bottom: 120px;
	}
	.footer_middle .footer_privacy_menu {
		max-width: 150px;
	}
	.footer_middle .footer_privacy_menu ul li:not(:last-child) {
		margin-right: 0;
	}
	.footer_middle .footer_privacy_menu ul li {
		display: block;
		margin-bottom: 4px;
	}
	.footer_middle {
		align-items: start;
		padding-top: 19px;
	}
	.footer_logo {
		margin-top: 40px;
	}
}

/* Small devices (large mobile) (landscape phones, 480px to 767px) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
